# Build artifacts
bin/
**/bin/
[Bb]in/
**/[Bb]in/
obj/
**/obj/
[Oo]bj/
**/[Oo]bj/
BusinessObjects/bin/
BusinessObjects/obj/
DataAccessObjects/bin/
DataAccessObjects/obj/
FUNewsManagementSystemMVC/bin/Debug/net8.0/BusinessObjects.dll
FUNewsManagementSystemMVC/bin/Debug/net8.0/BusinessObjects.pdb
FUNewsManagementSystemMVC/bin/Debug/net8.0/DataAccessObjects.dll
FUNewsManagementSystemMVC/bin/Debug/net8.0/DataAccessObjects.pdb

# User-specific files
*.user
*.suo

# Specific Debug/Release artifacts
*/**/bin/Debug
*/**/bin/Release
*/**/obj/Debug
*/**/obj/Release

# Visual Studio files
.vs/
