FUNewsManagementSystemMVC/obj/Debug/net8.0/project.razor.vs.bin
appsettings.json
bin/
**/bin/
[Bb]in/
**/[Bb]in/
obj/
**/obj/
[Oo]bj/
**/[Oo]bj/
BusinessObjects/bin/
BusinessObjects/obj/
DataAccessObjects/bin/
DataAccessObjects/obj/
FUNewsManagementSystemMVC/bin/Debug/net8.0/BusinessObjects.dll
FUNewsManagementSystemMVC/bin/Debug/net8.0/BusinessObjects.pdb
FUNewsManagementSystemMVC/bin/Debug/net8.0/DataAccessObjects.dll
FUNewsManagementSystemMVC/bin/Debug/net8.0/DataAccessObjects.pdb
**/bin/
**/obj/
*.user
*.suo