@model Services.DTOs.CategoryDTO

<div class="modal fade" id="categoryModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Category</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="editCategoryForm">
                    @Html.AntiForgeryToken()
                    <input type="hidden" asp-for="CategoryId" />
                    <div class="form-group">
                        <label for="CategoryName">Category Name</label>
                        <input type="text" asp-for="CategoryName" class="form-control" required />
                    </div>
                    <div class="form-group">
                        <label for="CategoryDesciption">Description</label>
                        <textarea asp-for="CategoryDesciption" class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="ParentCategoryId">Parent Category</label>
                        <select asp-for="ParentCategoryId" class="form-control" asp-items="ViewBag.ParentCategoryId">
                            <option value="">None</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="IsActive">Active</label>
                        <input type="checkbox" asp-for="IsActive" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="updateCategory">Update</button>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
    $('#updateCategory').click(function () {
        $.ajax({
            url: "@Url.Action("Edit", "Categories")",
            type: "POST",
            contentType: "application/x-www-form-urlencoded",
            data: $('#editCategoryForm').serialize(),
            success: function (response) {
                if (response.success) {
                    location.reload();
                } else {
                    alert("Validation Errors: " + response.errors.join(\"\\n\"));
                }
            },
            error: function (xhr) {
                alert("Error: " + xhr.responseText);
            }
        });
    });

    });
</script>
